*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.images {
    background-image: url(images/Group\ 40071\ \(2\).png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 80px;

}
.images h2{
    margin-top: 42px;
    font-size: 36px;
}

.nav ul {
    display: flex;
    align-items: center;
    padding: 40px;
}
.nav li{
    list-style: none;
    padding: 15px;
    
}
.nav li a{
    text-decoration: none;
    color:#424247;
}
span{
    color: orange;
}

.parent {
    background-image:  linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url(images/image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    padding: 10px;
    margin-left: 50px;
    text-align: center;
    color: white;
    
}
.parent1{
    margin-top: 180px;
    font-weight: 800;
}
.parent1 h2{
    font-size: 50px;
}
.parent p{
    padding: 10px;
    font-size: 13px;
    font-weight: 300px;
}

.parent3{
    width: 700px;
    height: 60px;
    margin-left: 250px;
    margin-top: 5px;
    text-align: center;
    background-color: rgba(213, 208, 197, 0.53);
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}
.gape{
    background-color: coral;
}

.parent2 input{
    width: 100px;
    height: 30px;
    margin-left: 50px;
    border-radius: 7px;
    border: none;
    text-align: center;

    
}
.main{
    display: flex;
    margin-left: 100px;
    margin-top: 50px;
}
.popular{
    width: 500px;
    height: 500px;
}
.popular h2{
    font-size: 35px;
    font-weight: 700;
    padding: 5px;
    
}
.popular p{
    margin-top: 20px;
}
.pera-1{
    margin-bottom: 20px;
}
.pic img{
    margin-left: 60px;
    width: 500px;
    height: 450px;
}
.popular .btn{
    padding: 10px 22px;
    margin-top: 10px;
    background: #FF5400;
    border: none;
    border-radius: 8px;

}

.destination1{
    text-align: center;
}
.destination1 h2{
    margin-top: 50px;
    font-size: 40px;
    font-weight: 800;
    padding: 5px;
}
.destination1 p{
    margin-bottom: 12px;
    padding: 30px;
}



.picture {
    display: flex;
    margin-left: 50px;
    gap: 16px;
    position: relative;
}
.img1 p{
    position: absolute;
    margin-top: -15%;
    margin-left: 20%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.img2 p{
    position: absolute;
    margin-top: -15%;
    margin-left: 20%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.img2 img{
    width: 550px;
    height: 300px;
}

.picture1{
    display: flex;
    gap: 16px;
    padding: 10px;
    margin-left: 40px;
}
.img3 p{
    position: absolute;
    margin-top: -14%;
    margin-left: 12%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.img4 p{
    position: absolute;
    margin-top: -14%;
    margin-left: 13%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.img4 img{
    width: 460px;
    height: 288px;
}
.img5 p{
    position: absolute;
    margin-top: -14%;
    margin-left: 8%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.picture2{
    display: flex;
    gap: 16px;
    margin-left: 50px;
}
.img7 img{
    width: 655px;
    height: 300px;
}
.img6 p{
    position: absolute;
    margin-top: -14%;
    margin-left: 14%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}
.img7 p{
    position: absolute;
    margin-top: -14%;
    margin-left: 21%;
    color: white;
    font-size: 28px;
    font-weight: 700px;
    text-align: center;
}





.choose{
    margin-left: 70px;
    margin-top: 50px;
}
.choose .choose1{
    text-align: center;
}
.choose1 h2{
    padding: 10px;
    font-size: 40px;
    color: #131318;
}
.choose p{
    color: rgba(19, 19, 24, 0.70);
    font-size: 14px;
}
.hotel{
    display: flex;
    margin-top: 100px;
}
.hotel1{
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    width: 573px;
    height: 284px;
    margin-left: 50px;
    margin-right: 50px;
}
.hotel1 h2{
    margin-top: 10px;
}
.hotel2{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
    width: 603px;
    height: 284px;
    /* /* margin-left: 70px; */
    margin-right: 70px;
}
.service{
    padding: 20px;
    margin-top: 55px;
}
.service img{
    width: 80px;
    height: 80px;
    margin-top: -20px;
    
}
.best1 img{
    width: 80px;
    height: 80px;
    margin-top: -20px;
}

.service h2{
    font-size: 24px;
}
.best-prise{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    width: 573px;
    height: 284px;
    margin-top: 50px;
    margin-left: 270px;
    margin-right: 400px;
    

}
.best1{
    padding: 20px;
    margin-top: 10%;
   
}
.footer{
    width: 100%;
    height: 360px;
    border: 1px solid red;
    border: none;
    background-color: #e5e5ee;
    margin-top: 80px;

}
.images3{
    padding-top: 2px;
}
.footer .images3 h2{
    background-image: url(images/Group\ 40071\ \(2\).png);
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 80px;
    margin-left: 40%;
    margin-top: 100px;
}

.images3 p{
    text-align: center;
    font-size: 14px;
    padding: 10px;
    color: #5A5A5D;
}
.images3 .icon{
    margin-left: 48%;
    display: flex;
    justify-content: center;
    color: black;
    width: 90px;
    height: 90px;
   
}

.icon a{
    padding: 10px;
    
}
.horizentalline1{
    width: 60%;
    height: 1px;
    border: 0 none;
    margin-right: auto;
    margin-left:auto;
    margin-top: -40px;
    margin-bottom: 50px;
    background-color: rgb(43, 41, 41);
}
.mail p{
    padding: -10px;
    text-align: center;
    color: #131318;
    font-size: 14px;
}
.newsletter{
    display: flex;
    justify-content: center;
    margin-left: 70px;
   
}
.newsletter h2{
    font-size: 40px;
}
.newsletter1{
    margin-top: 90px;
    border: 1px solid #FF5400;
    width: 620px;
    height: 400px;
    
   
}
.newsletter2{
    margin-top: 50px;
    padding: 30px;
}
.newsletter2 p{
    color: #5A5A5D;
    margin-top: 10px;
}
.newsletter2 input{
    margin-top: 14px;
    width: 350px;
    height: 40px;
    border-radius: 5px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
}
.newsletter2 button{
    width: 350px;
    height: 40px;
    border-radius: 8px;
    background: #FF5400;
    border: none;
    color: white;
    margin-top: 12px;
    font-weight: bold;
    font-size: 16px;
}
.rectangle{
    background-image: url(images/Rectangle\ 8\ \(1\).png);
    background-repeat: no-repeat;
    width: 70%;
    height: 66vh;
    margin-top: 90px;
    margin-left: 20px;
    border-radius: 10px;
    position: relative;
    
    
}
.rectangle .travel{
    width: 220px;
    height: 85px;
    background-color: #FF5400;
    border-radius: 16px;
    margin-top: 35%;
    margin-left: 60%;
    position: absolute;
    text-align: center;
    color: white;
    
}
.travel1{
    margin-top: 20px;
}
.travel1 h5{
    font-size: 25px;
    font-weight: 700;
    
}
.place{
    display: flex;
    gap: 30px;
    margin-top: 80px;
    margin-left: 120px;
    /* margin-right: 50px; */
}
.place1{
    margin-top: 80px;
    width: 500px;
}
.place h2{
    font-size: 40px;
    font-weight: 800px;
    margin: 0 auto;
    margin-top: -60px;
}
.place1 p{
    font-size: 14px;
    padding-bottom: 40px;
    padding-top: 30px;
}
.place1 button{
    padding: 10px 22px;
    margin-top: 10px;
    background: #FF5400;
    border: none;
    border-radius: 8px;
}
.hill{
    background-image: url(images/Group\ 40089.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.hill p{
    text-align: center;
    margin-top: 24%;
    margin-right: 100px;
    font-size: 28px;
    color: white;
}













/* Mobile media queary */
@media screen and (max-width:576px) {
    .nav{
        flex-direction: column;
        margin-left: 70px;
        margin-top: 40px;
    }
    .navbar {
       margin-right: 50px;
    }
    .navber ul{
        padding-top: 20px;
        flex-direction: column;
        padding-left: -20px;
    }
    .images h2 {
        margin-top: 0px;
    }
    .parent {
        background-position: center;
        
    }
    .parent1{
        margin-top: 80px;
    }
    .parent1 h2{
        font-size: 32px;
        padding: 4px;
    }
    .parent3 {
        width: 150px;
        height: 250px;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 100px;
    }
    .parent3 input{
        margin-left: -5px;
        margin-top: -5px;
    }


    .popular{
        width: 320px;
        height: 630px;
        
    }
    .main{
        flex-direction: column;
    }
    .pic img{
        width: 100%;
        height: 70vh;
        margin-left: 0px;
        background-position: center;
    }
    
    .parent2{
        flex-direction: column;
    }
    
    .destination1{
        width: 420px;
        margin-left: 10px;
        margin-top: -40px;
    }
    
    .picture{
        flex-direction: column;
        width: 300px;
    }
    .img7 img,
    .img6 img,
    .img5 img,
    .img4 img,
    .img3 img,
    .img2 img,
    .img1 img{
        width: 360px;
        height: 250px;
    }
    .img2 p,
    .img1 p{
        margin-top: -48%;
        margin-left: 43%;
    }
    .newsletter,
    .hotel,
    .picture2,
    .picture1{
        flex-direction: column;
    }
    
    .img3 p{
        margin-top: -40%;
        margin-left: 35%;
    }
    .img4 p{
        margin-top: -40%;
        margin-left: 28%;
    }
    .img5 p{
        margin-top: -39%;
        margin-left: 35%;
    }
    .img6 p{
        margin-top: -40%;
        margin-left: 31%;
    }
    .img7 p{
        margin-top: -40%;
        margin-left: 31%;
    }
    .best-prise,
    .hotel1{
        width: 400px;
        margin-left: -22px;
    }
    .hotel2{
        width: 400px;
        margin-left: -23px;
        margin-top: 30px;
    }
    .newsletter1{
        width: 390px;
        margin-left: -20px;
        border-radius: 10px;
    }
    .rectangle{
        width: 120%;
        height: 100vh;
        margin-left: 0px;
        background-position: center;
        margin-top: -60px;
        
    }
    .rectangle .travel{
        margin-top: 100%;
        margin-left: 37%;
    }
    .footer{
        width: 120%;
        margin-left: 6px;
        margin-top: -30px;
    }
    .footer .images3 h2 {
        padding-left: 60px;
        margin-left: 25%;

    }
    .images3 .icon{
        margin-left: 40%;
    }
    .place{
        margin-left: 80px;
        flex-direction: column;
        
    }
    .place .place1{
        width: 350px;
        height: 300px;
    }
    .hill{
        width: 120%;
        height: 100vh;
        background-position: center;
    }
    .hill p{
        margin-top: 90%;
        margin-right: 0px;

    }
    
  
}




